@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@media (max-aspect-ratio: 16/9) {

    #myVideo {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        }
}

.headerText {
position: absolute;
color: #f1f1f1;

}

::selection {
    color: white;
    background: orange;
  }

.show{
    z-index: 1000;
    opacity: 100;
    background-color: rgba($color: #fff, $alpha: .8);
    transition: all 0.8s ease-in-out;
}

.mobileNav{
    z-index: 1000;
    opacity: 0;
    transform: translateX(500px);
    transition: all 0.8s ease-in-out;
}

.burgerMenu{
    cursor: pointer;
}

.center{ 
    margin: 0 auto;
}

.thumbnail{
    user-drag: none; 
    -webkit-user-drag: none;
}

.weather{
    position: absolute;
    bottom: 5em;
    right: 5em;
}

.rain{
    fill: none;
    stroke: #fff;
}

.clearIcon{
    fill: #fff;
    stroke: none;
}

.l-button:hover {
    background-color: white;
    border: 1px solid orange;
    color: orange;
    cursor: pointer;
}

h1 {
    @apply text-4xl;
}

h2{
    @apply text-2xl;
}

h3{
    @apply text-xl;
}



p {
    margin: 0;
    @apply font-light;
}

label {
    @apply font-light text-lg;
}

main {
    @apply min-h-full;
}


.basemap {
    width: 100%;
    height: 100%;
  }
  
.footerNav ul>li{
    margin: .5rem 0;
    
}

.headerNav ul {
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-around;
}

.homeSearch{
    border-bottom: 2px solid rgb(255, 176, 58);
    animation: searchShadow 3s infinite;
    text-align: right;
}



.homeSearch::placeholder {
    color: rgba($color: #000, $alpha: .4)
}

.homeSearchLocation{
}


@keyframes searchShadow {
    50% {
        
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0)}
  }

.welcome{
    background-color: rgba($color: #000000, $alpha: .9);
    animation: fade 0.5s ease forwards 3.5s;
}

.header-text{
    opacity: 0;
    animation: fade-in 0.5s ease forwards 3.9s;
}

#logo {
    stroke:#fff;
    fill: transparent;
    stroke-width:3px;
    animation: fill-logo 1s ease forwards 3.0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo path:nth-child(1){
    stroke-dasharray: 1010.98;
    stroke-dashoffset: 1010.98;
    animation: line-anim 2s ease forwards;

}

#logo path:nth-child(2){
    
    stroke-dasharray: 520.40;
    stroke-dashoffset: 520.40;
    animation: line-anim 2s ease forwards 0.2s;
}

#logo path:nth-child(3){
    
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    animation: line-anim 2s ease forwards 0.5s;
}

#logo path:nth-child(4){
    
    stroke-dasharray: 401.53;
    stroke-dashoffset: 401.53;

    animation: line-anim 2s ease forwards 0.8s;
}

#logo path:nth-child(5){
    
    stroke-dasharray: 475.29;
    stroke-dashoffset: 475.29;
    animation: line-anim 2s ease forwards 1.1s;
}

#logo path:nth-child(6){
    
    stroke-dasharray: 771.30;
    stroke-dashoffset: 771.30;
    animation: line-anim 2s ease forwards 1.3s;
}

#logo path:nth-child(7){
    
    stroke-dasharray: 520.40;
    stroke-dashoffset: 520.40;
    animation: line-anim 2s ease forwards 1.6s;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-logo {
    0%{
        fill: transparent;
        stroke-width:3px;
        
    }
    
    75%{
        fill: white;
        stroke-width:3px;
        
    }

    100%{
        fill: transparent;
        stroke-width:0px;
    }
}

@keyframes fade {
    to{
        background-color: transparent;
        display: none;
    }
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}
